<div class="modal fade" id="mobilePhoneModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form action="" id="formCreateMobilePhone">
				{% csrf_token %}
				<div class="modal-body">
					<div class="row mt-3">
						<div class="col-md-4">
							<label for="">Tên sách</label>
						</div>
						<div class="col-md-8">
							<input type="text" name="bookName" class="form-control">
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-4">
							<label for="">Tên tác giả</label>
						</div>
						<div class="col-md-8">
							<input type="text" name="author" class="form-control">
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-4">
							<label for="">Số lượng</label>
						</div>
						<div class="col-md-8">
							<input type="number" name="quantity" class="form-control">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
						<button type="button" onclick="saveOrder()" class="btn btn-primary">Lưu</button>
					</div>
			</form>
		</div>
	  </div>
	</div>
  </div>