

<div class="table-responsive custom-table-responsive">
    <table class="table custom-table" id="bookList">
        <thead>
            <tr>
                <th scope="col" width="50">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Tác giả</th>
                <th scope="col">Barcode</th>
                <th scope="col">Số lượng</th>
            </tr>
        </thead>
        <tbody >
            {% for book in books %}
                <tr>
                    <td>
                       {{ book.stt }}
                    </td>
                    <td>{{ book.bookName }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.barcode }}</td>
                    <td>{{ book.quantity }}</td>
                    <td>
                        <button class="btn btn-warning show-form-update"
                                onclick = "editBook({{ book.id }});">
                            <span><i class="fas fa-edit"></i></span>Edit
                    </button> 
                    {% comment %} <form method="post" action="" id="myform">
                        {% csrf_token %}
                        <input type="hidden" value="{{ book.id }}"/>
                    </form> {% endcomment %}
                </td>
                <td>
                    <button class="btn btn-danger show-form-delete">
                        <span><i class="fa fa-trash" aria-hidden="true"></i></span>Delete
                </button>
            </td>
            <td>
                <div id = "push_to_web">
                    <button class="btn btn-success " data-bs-toggle="modal" data-bs-target="#bookItemModal">
                        <span><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>Push to web
                    </button>
                </div>
                <div id = "pushed_to_web">
                </div>
        </td>
    </tr>
    <tr class="spacer">
        <td colspan="100"></td>
    </tr>
{% empty %}
    <tr>
        <td colspan="7" class="text-center bg-warning">No book</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
